USE [master]
GO
/****** Object:  Database [CSDLHandmade]    Script Date: 5/8/2025 9:35:27 PM ******/
CREATE DATABASE [CSDLHandmade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDLHandmade', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CSDLHandmade.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSDLHandmade_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CSDLHandmade_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDLHandmade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDLHandmade]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiViets]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViets](
	[MaBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[HinhDaiDien] [nvarchar](max) NOT NULL,
	[VanBanTho] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
	[TrangThaiAn] [bit] NOT NULL,
	[MaTacGia] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_BaiViets] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienTheSanPhams]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheSanPhams](
	[MaBienTheSanPham] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongTonKho] [int] NOT NULL,
	[MaKichThuoc] [int] NOT NULL,
	[MaMauSac] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_BienTheSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaBienTheSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TienKhuyenMai] [float] NOT NULL,
	[ThanhTienTruocKhuyenMai] [float] NOT NULL,
	[ThanhTienSauKhuyenMai] [float] NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaBienTheSP] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDonHangs] PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPhamNguoiDung]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPhamNguoiDung](
	[DanhSachDanhGiaYeuThichMaDanhGiaSP] [int] NOT NULL,
	[DanhSachNguoiYeuThichId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_DanhGiaSanPhamNguoiDung] PRIMARY KEY CLUSTERED 
(
	[DanhSachDanhGiaYeuThichMaDanhGiaSP] ASC,
	[DanhSachNguoiYeuThichId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPhams]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPhams](
	[MaDanhGiaSP] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[SoSaoDanhGia] [int] NOT NULL,
	[MaNguoiDanhGia] [nvarchar](max) NOT NULL,
	[NguoiDanhGiaId] [nvarchar](450) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DanhGiaSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaDanhGiaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
	[MaDanhMucCha] [int] NULL,
	[DanhMucChaMaDanhMuc] [int] NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachYeuThichs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachYeuThichs](
	[MaDanhSachYeuThich] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_DanhSachYeuThichs] PRIMARY KEY CLUSTERED 
(
	[MaDanhSachYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachYeuThichSanPham]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachYeuThichSanPham](
	[DanhSachSanPhamMaSanPham] [int] NOT NULL,
	[DanhSachYeuThichMaDanhSachYeuThich] [int] NOT NULL,
 CONSTRAINT [PK_DanhSachYeuThichSanPham] PRIMARY KEY CLUSTERED 
(
	[DanhSachSanPhamMaSanPham] ASC,
	[DanhSachYeuThichMaDanhSachYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiGiaoHangs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiGiaoHangs](
	[MaDCGH] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[MacDinh] [bit] NOT NULL,
	[MaNguoiDung] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_DiaChiGiaoHangs] PRIMARY KEY CLUSTERED 
(
	[MaDCGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TienKhuyenMai] [float] NOT NULL,
	[TongTienSauKhuyenMai] [float] NOT NULL,
	[TongTienTruocKhuyenMai] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
	[MaNguoiDung] [nvarchar](450) NOT NULL,
	[MaThanhToan] [int] NOT NULL,
	[MaDiaChiGiaoHang] [int] NOT NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HienThiBanners]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienThiBanners](
	[MaHienThiBanner] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[MoTaNgan] [nvarchar](max) NOT NULL,
	[NutHanhDong] [nvarchar](max) NOT NULL,
	[DuongDanhAnhNen] [nvarchar](max) NOT NULL,
	[SoThuTu] [int] NOT NULL,
 CONSTRAINT [PK_HienThiBanners] PRIMARY KEY CLUSTERED 
(
	[MaHienThiBanner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HienThiDanhGias]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienThiDanhGias](
	[MaHienThiDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhGiaSanPham] [int] NOT NULL,
 CONSTRAINT [PK_HienThiDanhGias] PRIMARY KEY CLUSTERED 
(
	[MaHienThiDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhBienTheSanPhams]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhBienTheSanPhams](
	[MaHinhAnhBienTheSanPham] [int] IDENTITY(1,1) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[MaBienTheSanPham] [int] NULL,
 CONSTRAINT [PK_HinhAnhBienTheSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnhBienTheSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhSanPhams]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPhams](
	[MaHinhAnhSanPham] [int] IDENTITY(1,1) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[MaSanPham] [int] NULL,
 CONSTRAINT [PK_HinhAnhSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnhSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhTinNhans]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhTinNhans](
	[MaTinNhanHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[MaTinNhan] [int] NOT NULL,
 CONSTRAINT [PK_HinhAnhTinNhans] PRIMARY KEY CLUSTERED 
(
	[MaTinNhanHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMais]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMais](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](max) NOT NULL,
	[LoaiKhuyenMai] [nvarchar](max) NOT NULL,
	[GiaTriGiam] [float] NOT NULL,
	[NoiDungKhuyenMai] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[NgayBatDau] [datetime2](7) NOT NULL,
	[NgayKetThuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhuyenMais] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuocs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuocs](
	[MaKichThuoc] [int] IDENTITY(1,1) NOT NULL,
	[TenKichThuoc] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_KichThuocs] PRIMARY KEY CLUSTERED 
(
	[MaKichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDonHangs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDonHangs](
	[MaLichSuDonHang] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianChinhSua] [datetime2](7) NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaDonHang] [int] NOT NULL,
	[MaNhanVien] [nvarchar](max) NULL,
	[NhanVienId] [nvarchar](450) NULL,
 CONSTRAINT [PK_LichSuDonHangs] PRIMARY KEY CLUSTERED 
(
	[MaLichSuDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSacs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSacs](
	[MaMauSac] [int] IDENTITY(1,1) NOT NULL,
	[TenMauSac] [nvarchar](max) NOT NULL,
	[MaThapLucPhan] [nvarchar](max) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_MauSacs] PRIMARY KEY CLUSTERED 
(
	[MaMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[Id] [nvarchar](450) NOT NULL,
	[HoVaTen] [nvarchar](max) NOT NULL,
	[HinhDaiDien] [nvarchar](max) NULL,
	[HinhAnhBia] [nvarchar](max) NULL,
	[TrangThaiHoatDong] [bit] NOT NULL,
	[ThoiGianHoatDongGanDay] [datetime2](7) NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[TrangThaiKhoa] [bit] NOT NULL,
	[TenDangNhap] [nvarchar](256) NULL,
	[TenDangNhapChuanHoa] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailChuanHoa] [nvarchar](256) NULL,
	[XacThucEmail] [bit] NOT NULL,
	[MatKhauMaHoa] [nvarchar](max) NULL,
	[MaBaoMat] [nvarchar](max) NULL,
	[MaDongBo] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[XacThucSoDienThoai] [bit] NOT NULL,
	[KichHoat2Lop] [bit] NOT NULL,
	[ThoiGianKhoa] [datetimeoffset](7) NULL,
	[ChoPhepKhoa] [bit] NOT NULL,
	[SoLanDangNhapThatBai] [int] NOT NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungVaiTros]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungVaiTros](
	[MaNguoiDung] [nvarchar](450) NOT NULL,
	[MaVaiTro] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_NguoiDungVaiTros] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCaps]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCaps](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](max) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhaCungCaps] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanHieus]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanHieus](
	[MaNhanHieu] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanHieu] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_NhanHieus] PRIMARY KEY CLUSTERED 
(
	[MaNhanHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuats]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuats](
	[MaNhaSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaSX] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhaSanXuats] PRIMARY KEY CLUSTERED 
(
	[MaNhaSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomChats]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomChats](
	[MaNhomChat] [nvarchar](450) NOT NULL,
	[MaTinNhan] [int] NOT NULL,
	[SoTinNhanChuaDoc] [int] NOT NULL,
 CONSTRAINT [PK_NhomChats] PRIMARY KEY CLUSTERED 
(
	[MaNhomChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamKhuyenMais]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamKhuyenMais](
	[MaSanPhamKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[MaKhuyenMai] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
 CONSTRAINT [PK_SanPhamKhuyenMais] PRIMARY KEY CLUSTERED 
(
	[MaSanPhamKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[GiaCu] [float] NOT NULL,
	[GiaNhap] [float] NOT NULL,
	[GiaHienTai] [float] NOT NULL,
	[HinhDaiDien] [nvarchar](max) NOT NULL,
	[HinhPhongTo] [nvarchar](max) NOT NULL,
	[MaDanhMuc] [int] NULL,
	[MaNhanHieu] [int] NULL,
	[MaNhaSanXuat] [int] NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[ThoiGianThanhToan] [datetime2](7) NULL,
	[TrangThai] [bit] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](max) NOT NULL,
	[MaGiaoDich] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBiThongBaos]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBiThongBaos](
	[MaThietBi] [int] IDENTITY(1,1) NOT NULL,
	[MaToken] [nvarchar](max) NOT NULL,
	[ThoiGianTao] [datetime2](7) NOT NULL,
	[MaNguoiDung] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ThietBiThongBaos] PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaos]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaos](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[MaNguoiNhan] [nvarchar](max) NOT NULL,
	[NguoiNhanId] [nvarchar](450) NULL,
	[TrangThaiDoc] [bit] NOT NULL,
	[MaThamChieu] [int] NULL,
	[LoaiThongBao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ThongBaos] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhans]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhans](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiGui] [nvarchar](450) NOT NULL,
	[MaNguoiNhan] [nvarchar](450) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[ThoiGianGui] [datetime2](7) NOT NULL,
	[TrangThaiDoc] [bit] NOT NULL,
	[ThoiGianDoc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TinNhans] PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTros]    Script Date: 5/8/2025 9:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTros](
	[MaVaiTro] [nvarchar](450) NOT NULL,
	[TenVaiTro] [nvarchar](256) NULL,
	[TenVaiTroChuanHoa] [nvarchar](256) NULL,
	[MaDongBo] [nvarchar](max) NULL,
 CONSTRAINT [PK_VaiTros] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BaiViets_MaTacGia]    Script Date: 5/8/2025 9:35:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BaiViets_MaTacGia] ON [dbo].[BaiViets]
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheSanPhams_MaKichThuoc]    Script Date: 5/8/2025 9:35:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheSanPhams_MaKichThuoc] ON [dbo].[BienTheSanPhams]
(
	[MaKichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheSanPhams_MaMauSac]    Script Date: 5/8/2025 9:35:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheSanPhams_MaMauSac] ON [dbo].[BienTheSanPhams]
(
	[MaMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheSanPhams_MaSanPham]    Script Date: 5/8/2025 9:35:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheSanPhams_MaSanPham] ON [dbo].[BienTheSanPhams]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonHangs_MaBienTheSP]    Script Date: 5/8/2025 9:35:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHangs_MaBienTheSP] ON [dbo].[ChiTietDonHangs]
(
	[MaBienTheSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonHangs_MaDonHang]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHangs_MaDonHang] ON [dbo].[ChiTietDonHangs]
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DanhGiaSanPhamNguoiDung_DanhSachNguoiYeuThichId]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaSanPhamNguoiDung_DanhSachNguoiYeuThichId] ON [dbo].[DanhGiaSanPhamNguoiDung]
(
	[DanhSachNguoiYeuThichId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGiaSanPhams_MaSanPham]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaSanPhams_MaSanPham] ON [dbo].[DanhGiaSanPhams]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DanhGiaSanPhams_NguoiDanhGiaId]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGiaSanPhams_NguoiDanhGiaId] ON [dbo].[DanhGiaSanPhams]
(
	[NguoiDanhGiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhMucs_DanhMucChaMaDanhMuc]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhMucs_DanhMucChaMaDanhMuc] ON [dbo].[DanhMucs]
(
	[DanhMucChaMaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DanhSachYeuThichs_MaNguoiDung]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DanhSachYeuThichs_MaNguoiDung] ON [dbo].[DanhSachYeuThichs]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhSachYeuThichSanPham_DanhSachYeuThichMaDanhSachYeuThich]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhSachYeuThichSanPham_DanhSachYeuThichMaDanhSachYeuThich] ON [dbo].[DanhSachYeuThichSanPham]
(
	[DanhSachYeuThichMaDanhSachYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DiaChiGiaoHangs_MaNguoiDung]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DiaChiGiaoHangs_MaNguoiDung] ON [dbo].[DiaChiGiaoHangs]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangs_MaDiaChiGiaoHang]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangs_MaDiaChiGiaoHang] ON [dbo].[DonHangs]
(
	[MaDiaChiGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonHangs_MaNguoiDung]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangs_MaNguoiDung] ON [dbo].[DonHangs]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangs_MaThanhToan]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DonHangs_MaThanhToan] ON [dbo].[DonHangs]
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HienThiDanhGias_MaDanhGiaSanPham]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_HienThiDanhGias_MaDanhGiaSanPham] ON [dbo].[HienThiDanhGias]
(
	[MaDanhGiaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HinhAnhBienTheSanPhams_MaBienTheSanPham]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnhBienTheSanPhams_MaBienTheSanPham] ON [dbo].[HinhAnhBienTheSanPhams]
(
	[MaBienTheSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HinhAnhSanPhams_MaSanPham]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnhSanPhams_MaSanPham] ON [dbo].[HinhAnhSanPhams]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HinhAnhTinNhans_MaTinNhan]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnhTinNhans_MaTinNhan] ON [dbo].[HinhAnhTinNhans]
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuDonHangs_MaDonHang]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuDonHangs_MaDonHang] ON [dbo].[LichSuDonHangs]
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichSuDonHangs_NhanVienId]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuDonHangs_NhanVienId] ON [dbo].[LichSuDonHangs]
(
	[NhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[NguoiDungs]
(
	[EmailChuanHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[NguoiDungs]
(
	[TenDangNhapChuanHoa] ASC
)
WHERE ([TenDangNhapChuanHoa] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NguoiDungVaiTros_MaVaiTro]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_NguoiDungVaiTros_MaVaiTro] ON [dbo].[NguoiDungVaiTros]
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhomChats_MaTinNhan]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhomChats_MaTinNhan] ON [dbo].[NhomChats]
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamKhuyenMais_MaKhuyenMai]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamKhuyenMais_MaKhuyenMai] ON [dbo].[SanPhamKhuyenMais]
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamKhuyenMais_MaSanPham]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamKhuyenMais_MaSanPham] ON [dbo].[SanPhamKhuyenMais]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_MaDanhMuc]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_MaDanhMuc] ON [dbo].[SanPhams]
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_MaNhanHieu]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_MaNhanHieu] ON [dbo].[SanPhams]
(
	[MaNhanHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_MaNhaSanXuat]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_MaNhaSanXuat] ON [dbo].[SanPhams]
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ThietBiThongBaos_MaNguoiDung]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThietBiThongBaos_MaNguoiDung] ON [dbo].[ThietBiThongBaos]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ThongBaos_NguoiNhanId]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThongBaos_NguoiNhanId] ON [dbo].[ThongBaos]
(
	[NguoiNhanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TinNhans_MaNguoiGui]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_TinNhans_MaNguoiGui] ON [dbo].[TinNhans]
(
	[MaNguoiGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TinNhans_MaNguoiNhan]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_TinNhans_MaNguoiNhan] ON [dbo].[TinNhans]
(
	[MaNguoiNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/8/2025 9:35:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[VaiTros]
(
	[TenVaiTroChuanHoa] ASC
)
WHERE ([TenVaiTroChuanHoa] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiViets]  WITH CHECK ADD  CONSTRAINT [FK_BaiViets_NguoiDungs_MaTacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiViets] CHECK CONSTRAINT [FK_BaiViets_NguoiDungs_MaTacGia]
GO
ALTER TABLE [dbo].[BienTheSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_BienTheSanPhams_KichThuocs_MaKichThuoc] FOREIGN KEY([MaKichThuoc])
REFERENCES [dbo].[KichThuocs] ([MaKichThuoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienTheSanPhams] CHECK CONSTRAINT [FK_BienTheSanPhams_KichThuocs_MaKichThuoc]
GO
ALTER TABLE [dbo].[BienTheSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_BienTheSanPhams_MauSacs_MaMauSac] FOREIGN KEY([MaMauSac])
REFERENCES [dbo].[MauSacs] ([MaMauSac])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienTheSanPhams] CHECK CONSTRAINT [FK_BienTheSanPhams_MauSacs_MaMauSac]
GO
ALTER TABLE [dbo].[BienTheSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_BienTheSanPhams_SanPhams_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienTheSanPhams] CHECK CONSTRAINT [FK_BienTheSanPhams_SanPhams_MaSanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_BienTheSanPhams_MaBienTheSP] FOREIGN KEY([MaBienTheSP])
REFERENCES [dbo].[BienTheSanPhams] ([MaBienTheSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_BienTheSanPhams_MaBienTheSP]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs_MaDonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHangs] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs_MaDonHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPhamNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPhamNguoiDung_DanhGiaSanPhams_DanhSachDanhGiaYeuThichMaDanhGiaSP] FOREIGN KEY([DanhSachDanhGiaYeuThichMaDanhGiaSP])
REFERENCES [dbo].[DanhGiaSanPhams] ([MaDanhGiaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaSanPhamNguoiDung] CHECK CONSTRAINT [FK_DanhGiaSanPhamNguoiDung_DanhGiaSanPhams_DanhSachDanhGiaYeuThichMaDanhGiaSP]
GO
ALTER TABLE [dbo].[DanhGiaSanPhamNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPhamNguoiDung_NguoiDungs_DanhSachNguoiYeuThichId] FOREIGN KEY([DanhSachNguoiYeuThichId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaSanPhamNguoiDung] CHECK CONSTRAINT [FK_DanhGiaSanPhamNguoiDung_NguoiDungs_DanhSachNguoiYeuThichId]
GO
ALTER TABLE [dbo].[DanhGiaSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPhams_NguoiDungs_NguoiDanhGiaId] FOREIGN KEY([NguoiDanhGiaId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaSanPhams] CHECK CONSTRAINT [FK_DanhGiaSanPhams_NguoiDungs_NguoiDanhGiaId]
GO
ALTER TABLE [dbo].[DanhGiaSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPhams_SanPhams_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaSanPhams] CHECK CONSTRAINT [FK_DanhGiaSanPhams_SanPhams_MaSanPham]
GO
ALTER TABLE [dbo].[DanhMucs]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucs_DanhMucs_DanhMucChaMaDanhMuc] FOREIGN KEY([DanhMucChaMaDanhMuc])
REFERENCES [dbo].[DanhMucs] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[DanhMucs] CHECK CONSTRAINT [FK_DanhMucs_DanhMucs_DanhMucChaMaDanhMuc]
GO
ALTER TABLE [dbo].[DanhSachYeuThichs]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachYeuThichs_NguoiDungs_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhSachYeuThichs] CHECK CONSTRAINT [FK_DanhSachYeuThichs_NguoiDungs_MaNguoiDung]
GO
ALTER TABLE [dbo].[DanhSachYeuThichSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachYeuThichSanPham_DanhSachYeuThichs_DanhSachYeuThichMaDanhSachYeuThich] FOREIGN KEY([DanhSachYeuThichMaDanhSachYeuThich])
REFERENCES [dbo].[DanhSachYeuThichs] ([MaDanhSachYeuThich])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhSachYeuThichSanPham] CHECK CONSTRAINT [FK_DanhSachYeuThichSanPham_DanhSachYeuThichs_DanhSachYeuThichMaDanhSachYeuThich]
GO
ALTER TABLE [dbo].[DanhSachYeuThichSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachYeuThichSanPham_SanPhams_DanhSachSanPhamMaSanPham] FOREIGN KEY([DanhSachSanPhamMaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhSachYeuThichSanPham] CHECK CONSTRAINT [FK_DanhSachYeuThichSanPham_SanPhams_DanhSachSanPhamMaSanPham]
GO
ALTER TABLE [dbo].[DiaChiGiaoHangs]  WITH CHECK ADD  CONSTRAINT [FK_DiaChiGiaoHangs_NguoiDungs_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaChiGiaoHangs] CHECK CONSTRAINT [FK_DiaChiGiaoHangs_NguoiDungs_MaNguoiDung]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_DiaChiGiaoHangs_MaDiaChiGiaoHang] FOREIGN KEY([MaDiaChiGiaoHang])
REFERENCES [dbo].[DiaChiGiaoHangs] ([MaDCGH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_DiaChiGiaoHangs_MaDiaChiGiaoHang]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_NguoiDungs_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_NguoiDungs_MaNguoiDung]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_ThanhToans_MaThanhToan] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[ThanhToans] ([MaThanhToan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_ThanhToans_MaThanhToan]
GO
ALTER TABLE [dbo].[HienThiDanhGias]  WITH CHECK ADD  CONSTRAINT [FK_HienThiDanhGias_DanhGiaSanPhams_MaDanhGiaSanPham] FOREIGN KEY([MaDanhGiaSanPham])
REFERENCES [dbo].[DanhGiaSanPhams] ([MaDanhGiaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HienThiDanhGias] CHECK CONSTRAINT [FK_HienThiDanhGias_DanhGiaSanPhams_MaDanhGiaSanPham]
GO
ALTER TABLE [dbo].[HinhAnhBienTheSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhBienTheSanPhams_BienTheSanPhams_MaBienTheSanPham] FOREIGN KEY([MaBienTheSanPham])
REFERENCES [dbo].[BienTheSanPhams] ([MaBienTheSanPham])
GO
ALTER TABLE [dbo].[HinhAnhBienTheSanPhams] CHECK CONSTRAINT [FK_HinhAnhBienTheSanPhams_BienTheSanPhams_MaBienTheSanPham]
GO
ALTER TABLE [dbo].[HinhAnhSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhSanPhams_SanPhams_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
GO
ALTER TABLE [dbo].[HinhAnhSanPhams] CHECK CONSTRAINT [FK_HinhAnhSanPhams_SanPhams_MaSanPham]
GO
ALTER TABLE [dbo].[HinhAnhTinNhans]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhTinNhans_TinNhans_MaTinNhan] FOREIGN KEY([MaTinNhan])
REFERENCES [dbo].[TinNhans] ([MaTinNhan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhTinNhans] CHECK CONSTRAINT [FK_HinhAnhTinNhans_TinNhans_MaTinNhan]
GO
ALTER TABLE [dbo].[LichSuDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDonHangs_DonHangs_MaDonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHangs] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuDonHangs] CHECK CONSTRAINT [FK_LichSuDonHangs_DonHangs_MaDonHang]
GO
ALTER TABLE [dbo].[LichSuDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDonHangs_NguoiDungs_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[LichSuDonHangs] CHECK CONSTRAINT [FK_LichSuDonHangs_NguoiDungs_NhanVienId]
GO
ALTER TABLE [dbo].[NguoiDungVaiTros]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungVaiTros_NguoiDungs_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiDungVaiTros] CHECK CONSTRAINT [FK_NguoiDungVaiTros_NguoiDungs_MaNguoiDung]
GO
ALTER TABLE [dbo].[NguoiDungVaiTros]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungVaiTros_VaiTros_MaVaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTros] ([MaVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiDungVaiTros] CHECK CONSTRAINT [FK_NguoiDungVaiTros_VaiTros_MaVaiTro]
GO
ALTER TABLE [dbo].[NhomChats]  WITH CHECK ADD  CONSTRAINT [FK_NhomChats_TinNhans_MaTinNhan] FOREIGN KEY([MaTinNhan])
REFERENCES [dbo].[TinNhans] ([MaTinNhan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhomChats] CHECK CONSTRAINT [FK_NhomChats_TinNhans_MaTinNhan]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMais]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamKhuyenMais_KhuyenMais_MaKhuyenMai] FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMais] ([MaKhuyenMai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamKhuyenMais] CHECK CONSTRAINT [FK_SanPhamKhuyenMais_KhuyenMais_MaKhuyenMai]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMais]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamKhuyenMais_SanPhams_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamKhuyenMais] CHECK CONSTRAINT [FK_SanPhamKhuyenMais_SanPhams_MaSanPham]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_MaDanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucs] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_MaDanhMuc]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_NhanHieus_MaNhanHieu] FOREIGN KEY([MaNhanHieu])
REFERENCES [dbo].[NhanHieus] ([MaNhanHieu])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_NhanHieus_MaNhanHieu]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_NhaSanXuats_MaNhaSanXuat] FOREIGN KEY([MaNhaSanXuat])
REFERENCES [dbo].[NhaSanXuats] ([MaNhaSX])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_NhaSanXuats_MaNhaSanXuat]
GO
ALTER TABLE [dbo].[ThietBiThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_ThietBiThongBaos_NguoiDungs_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThietBiThongBaos] CHECK CONSTRAINT [FK_ThietBiThongBaos_NguoiDungs_MaNguoiDung]
GO
ALTER TABLE [dbo].[ThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_ThongBaos_NguoiDungs_NguoiNhanId] FOREIGN KEY([NguoiNhanId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[ThongBaos] CHECK CONSTRAINT [FK_ThongBaos_NguoiDungs_NguoiNhanId]
GO
ALTER TABLE [dbo].[TinNhans]  WITH CHECK ADD  CONSTRAINT [FK_TinNhans_NguoiDungs_MaNguoiGui] FOREIGN KEY([MaNguoiGui])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[TinNhans] CHECK CONSTRAINT [FK_TinNhans_NguoiDungs_MaNguoiGui]
GO
ALTER TABLE [dbo].[TinNhans]  WITH CHECK ADD  CONSTRAINT [FK_TinNhans_NguoiDungs_MaNguoiNhan] FOREIGN KEY([MaNguoiNhan])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[TinNhans] CHECK CONSTRAINT [FK_TinNhans_NguoiDungs_MaNguoiNhan]
GO
USE [master]
GO
